AUTH_SECRET=<string> # Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_GOOGLE_ID=<string>
AUTH_GOOGLE_SECRET=<string>
AUTH_RESEND_KEY=<string>

DATABASE_URL=<PostgresDSN>
SERVER_EMAIL_ADDRESS=<EmailAddress>